.logo{
    padding: 2rem 0 1.5rem;
  }
  
  .logo img{
    width: 48px;
    height: 48px;
  }
  
  .login-form-container{
    width: 330px;
  }
  
  .login-form-title{
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
  
  .login-alert{
    text-align: center;
  }

  .login-form-body{
    margin-top: 1rem;
    padding: 1.25rem;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.25rem;
  }
  
  .login-form-body input, .login-form-body select, option{
    font-weight: 400;
    font-size: 0.9rem; 
    line-height: 1.25rem;
  }
  
  .login-form-body button{
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.25rem;
    width: 100%;
    border-radius: 5px;
  }
    
  .login-form-container p {
    text-align: center;
    margin: 1rem 0;
    padding: 0.9rem 1.25rem;
    border: 1px solid #CCC;
    border-radius: 5px;
  }
  
  .login-form-container a{
    cursor: pointer;
  }